<!-- 
<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date </label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="inventory.date" name="date">
    </div>

    <div class="form-group">
      <label for="name">Center id</label>
      <input type="text" class="form-control" id="center" required [(ngModel)]="inventory.center" name="center">
    </div>

    <div class="form-group">
      <label for="name">Vaccine Count</label>
      <input type="text" class="form-control" id="count" required [(ngModel)]="inventory.count" name="count">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Updated successfully!</h4>
</div>
 -->
